name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      
    - name: Build the Docker Image
      run: docker build . -t ${{ secrets.DOCKER_USER }}/&{{ DOCKER_REPO }}:$GITHUB_SHA
      
    - name: Docker Push
      run: docker push ${{ secrets.DOCKER_USER }}/&{{ DOCKER_REPO }}:$GITHUB_SHA
